* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #EEEDE7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  height: 100px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(20%, #E7D2CC), to(#FF2400));
  background-image: linear-gradient(to right, #E7D2CC 20%, #FF2400);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section {
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.5);
  background-color: #E7D2CC;
  min-width: 200px;
  max-width: 300px;
  height: auto;
}
section h2 {
  font-size: 19px;
  color: #000;
  margin: 15px auto 0 10px;
}
section i {
  font-size: 200%;
  margin: 0 10px 0 0;
  color: #FF2400;
}
section form {
  background-color: #EEEDE7;
  padding: 10px 5px 5px 10px;
}
section form label {
  width: auto;
  font-weight: 55 0;
}
section form input {
  border: none;
  margin: 30px;
  width: auto;
  background: none;
  border-bottom: 1px solid #000;
}
section form .btn-perimetro {
  border: none;
  background-color: #FF735C;
  padding: 4px;
  margin: 3px;
}
section form .btn-area {
  border: none;
  background-color: #FF735C;
  padding: 4px;
  margin: 3px;
}