*{
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
  185deg,
  hsl(240deg 100% 20%) 0%,
  hsl(238deg 64% 27%) 22%,
  hsl(231deg 54% 33%) 35%,
  hsl(222deg 49% 37%) 45%,
  hsl(213deg 47% 41%) 54%,
  hsl(204deg 48% 44%) 62%,
  hsl(195deg 49% 47%) 70%,
  hsl(188deg 53% 49%) 76%,
  hsl(181deg 60% 50%) 83%,
  hsl(177deg 77% 53%) 90%,
  hsl(174deg 100% 50%) 100%
  );

  background-repeat: no-repeat;
  background-size: cover;
}
header {
  margin: 0 auto;
  color: azure;
  font-family: 'Roboto mono', monospace;
  h1 {
    font-family: 'Roboto mono', monospace;
    text-transform: uppercase;
    font-weight: 500;
    color: #a945c7;
    padding-bottom: 20px;
  }
}
section {
  display: flex;
  flex-direction: column;
  color: azure;
  font-family: 'Roboto mono', monospace;
  h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    color: #a945c7;
  }
}

nav ol {
  display: flex;
  justify-content: space-between;
  list-style: none;
  li {
    padding: 20px;
    a {
      color: azure;
    }
  }
}

// claes para neon

.btn-neon {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon:hover {
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px
    #a945c7, 0 0 80px #a945c7;
    transition: 2s;
}
.btn-neon span {
    position: absolute;
    display: block;
}
#span1 {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#a945c7);
}
.btn-neon:hover #span1 {
    left: 100%;
    transition: 1s;
}
#span3 {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#a945c7);
}
.btn-neon:hover #span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#a945c7);
}
.btn-neon:hover #span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#a945c7);
}
.btn-neon:hover #span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.background-tyle {
  height: 25vh;
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23a945c7' fill-opacity='0.4' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
}