@import "component/grids";
@import "component/globales.scss";

header {
  height: 100px;
  background-image: $degradado;
}
main{
  display: flex;
  flex-direction: row;
}
section {
  @include cajas;
  h2 {
    font-size: 19px;
    color: #000;
    margin: 15px auto 0 10px;
  }
  i {
    font-size: 200%;
    margin: 0 10px 0 0;
    color: $color-primario;
  }
  form {
    background-color: $color-fondo;
    padding: 10px 5px 5px 10px;
    label {
      width: auto;
      font-weight: 55 0;
    }
    input {
      border: none;
      margin: 30px;
      width: auto;
      background: none;
      border-bottom: 1px solid #000;
    }
    .btn-perimetro {
      @include botones();
    }
    .btn-area {
      @include botones();
    }
  }
}