doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Descuento y Porcentajes
    link(rel="stylesheet", href="./estilos.css")
  body 
    header
      h1 Descuentos y Porcentajes
      p Este es el segundo taller del Curso Práctico de JavaScript.

  section
    h2 Calcular el precio a pagar de tus productos con descuento.
    form
      label( for="InputPrice" ) Precio: 
      input( id="InputPrice" type="number" placeholder="Escrive el precio de tu producto" )

      label( for="InputDiscount" ) Descuento:
      input( id="InputDiscount" type="number" placeholder="Escrive el descuento del producto")

      label( for="InputCupon" ) Cupon:
      input( id="InputCupon" type="text" placeholder="Escrive tu cupon:")
      .content-bot
        button( type="button" onclick="buttonDiscount()") Descuento
        button( type="button" onclick="buttonCupon()") Cupon
      p(id="resultCupon")
      p( id="resultDiscount")
  script(src="./descuentos.js" ) 