doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Descuento y Porcentajes
    link(rel="stylesheet", href="./estilos.css")
  body 
    header
      h1 Descuentos y Porcentajes
      p Este es el segundo taller del Curso Práctico de JavaScript.

  section
    h2 Calcular el precio a pagar de tus productos con descuento.
    form
      label( for="InputPrice" ) Precio: 
      input( id="InputPrice" type="number" placeholder="Escrive el precio de tu producto" )

      label( for="InputDiscount" ) Escrive el descuento de tu producto:
      input( id="InputDiscount" type="text" )

      label( for="InputCupon" palceholder="Escrive tu cupon:") Escrive tu cupon:
      input( id="InputCupon" type="text" )

      button( type="button" onclick="buttonDiscount()") Descuento
      button( type="button" onclick="buttonDiscount()") Cupon

      p( id="resultPrice")
  script(src="./descuentos.js" ) 