*{
  box-sizing: border-box;
}

body {
  background-color: gray;
  color: #fff;
}

section {
 background-color: #000;
 width: 310px;
 height: auto; 
 color: #fff;
 margin: 5% auto;
 padding: 5px;
}
form {
  display: flex;
  flex-direction: column;
  align-self: baseline;
  width: auto;
  height: auto;
 background-color: #222222;
 padding: 15px;
}
input {
  width: auto;
  border: none;
  margin: 4% 0;
  background: none;
  list-style: none;
  border-bottom: solid 1px #d63031;
  color: #fff;
}
input::placeholder {
  color: #fff;
  font-family: italic;
}
.content-bot {
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding: 3px;
  margin: 3px auto;
}
button {
  display: flex;
  width: 100px;
  border: none;
  text-transform: uppercase;
  background-color: chocolate;
  justify-content: center;
}